services:
  postgres:
    image: postgres:latest
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: discord_clone
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - discord-clone-network

  redis:
    image: redis:latest
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data
    networks:
      - discord-clone-network

networks:
  discord-clone-network:
    driver: bridge

volumes:
  postgres_data:
  redis_data:
